<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card scroll">
          <div class="card-header">conversations</div>

          <ul class="list-group list-group-flush" id="chats">
            <li v-for="message in messages" class="list-group-item" :key="message.id">
              {{message.body}}
              <br />
              <span class="badge badge-primary badge-pill">{{message.user}}</span>
            </li>
          </ul>
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="TYPE..."
            aria-label="TYPE..."
            v-model="message.body"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="send" @click="send">Send</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">online users</div>

          <ul class="list-group list-group-flush" id="users">
            <li v-for="user in users" class="list-group-item" :key="user.id">
              <i class="far fa-user">{{user.name}}</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: {
        body: ""
      },
      messages: [],
      users: []
    };
  },
  mounted() {
    this.join("chat");
    this.getMessages();
  },
  methods: {
    getMessages() {
      axios
        .get("/api/messages")
        .then(result => {
          result = result.data;
          console.log(result.data);
          this.messages = result.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    join(channel) {
      Echo.join(channel)
        .here(users => {
          console.log(users);
          this.users = users;
        })
        .joining(user => {
          console.log(user.name);
          this.users.push(user);
        })
        .leaving(user => {
          console.log(user.name);
          this.users = this.users.filter(u => u.id !== user.id);
        })
        .listen(".MessageSent", e => {
          console.log(e.message);
          this.messages.unshift(e.message);
        });
    },
    send() {
      axios
        .post("/api/messages", this.message)
        .then(result => {
          result = result.data;
          this.message.body = "";
          console.log(result.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style>
.scroll {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
</style>
